body{
	background-color: #F42372;
	text-align: center;
}

form {
	background-color: cyan;
	margin-left: 34.5%;
	width: 500px;
	padding: 10px;
	outline: 5px solid black;
}

table, th, td {
	background-color: #FFD662FF;
	margin-left: 35%;
	width: 500px;
	padding: 10px;
	border: 3px solid black;
	border-collapse: collapse;
}