*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}



.box{
    background-color: cornflowerblue;
	margin-left: 34.5%;
	width: 500px;
	padding: 10px;
	outline: 1px solid black;
}
